@use '../base'

.Modal
  @include base.flex(100vw, 100vh)
  z-index: 1
  top: 0
  left: 0
  position: fixed
  background-color: rgba(0, 0, 0, 0.8)

  .Modal-inner
    @include base.flex(40%, auto)
    @include base.border-radius()
    background-color: base.$dark-color

    header
      @include base.flex(100%, auto, row)
      padding: 10px
      border-bottom: 1px solid base.$light-color
      justify-content: space-between
      color: base.$light-color
      button
        @include base.button(30px, 30px)
        padding: 0
        line-height: 20px
        font-size: 20px
        border-color: base.$dark-color
    main
      @include base.flex(100%,auto)
      padding: 10px
      form
        @include base.flex(100%,auto)
        button
          @include base.button(40%, 35px)
          padding: 0
        input
          @include base.element(90%,auto)
          @include base.border-radius()
          @include base.border()
          text-align: center
          padding: 7px
          margin: 5px
          color: black